# Environment variables for the Evalyn Backend project
DATABASE_URL=postgres://<username>:<password>@<host>/<db>?sslmode=require

# clerk secret key
CLERK_SECRET_KEY=your-clerk-secret-key

# Azure OpenAI Service credentials
AZURE_OPENAI_API_KEY=your-azure-openai-key
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com
AZURE_OPENAI_DEPLOYMENT_NAME=your-deployment-name

# Chutes API token
CHUTES_API_TOKEN=your-chutes-api-token

# Gemini API key
GEMINI_API_KEY=your-gemini-api-key
